<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru Joke App Assignment</title>
</head>
<body>
<h1>
    Here's a joke!
</h1>
<h3 th:text="${joke}"></h3>

</body>
</html>